.confirmationContainer {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  min-height: 6.25rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

.confirmationMessage {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.confirmationButtons {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
  margin-top: 1.25rem;
}

.confirmationButton {
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 0.625rem;
  background-color: #0096ff;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}

.confirmationButton:hover {
  background-color: #0077cc;
}
