.forgotpassword {
  height: fit-content;
  max-width: 35rem;
  width: 100%;
  border-radius: 2.8125rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.resetpassword {
  height: fit-content;
  max-width: 35rem;
  width: 100%;
  border-radius: 2.8125rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.wiredIn {
  color: #000000;
  font-weight: 800;
  font-size: 4rem;
}

.reset {
  color: #000000;
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
}

.error {
  color: #ea4335;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: -0.625rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.success {
  color: #0096ff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
}

.input {
  height: 3.75rem;
  max-width: 28rem;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.9375rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  background-color: #f3f3f3;
  border: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.875rem;
}

.resetButton {
  max-width: 28rem;
  width: 95%;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
  min-height: 3.125rem;
  background-color: #0096ff;
  border-radius: 0.9375rem;
  border: none;
  font-size: 1.5625rem;
  font-weight: 800;
  color: #ffffff;
}

.resetButton:hover {
  cursor: pointer;
}

.additional {
  color: #3f3f3f;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.additional > * {
  margin-bottom: 1.5625rem;
}

.signup {
  color: #0096ff;
}

.login {
  color: #0096ff;
}

.go {
  color: #3f3f3f;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 20rem) {
  .wiredIn {
    font-size: 3rem;
  }

  .input {
    height: 2.5rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  .success {
    font-size: 1.25rem;
  }

  .error {
    font-size: 1rem;
  }

  .resetButton {
    height: 2.25rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
  }

  .reset {
    font-size: 1.5rem;
  }

  .additional {
    font-size: 1rem;
  }

  .forgotpassword {
    border-radius: 0;
  }

  .resetpassword {
    border-radius: 0;
  }
}
