.container {
  margin-top: 0.625rem;
  min-height: 23.4375rem;
  width: 26.5625rem;
  margin-bottom: 1.25rem;
}

.NavbarDropdown {
  width: 25rem;
  min-height: 21.875rem;
  border-radius: 0.9375rem;
  background-color: #000000;
  padding: 1.875rem;
}

.NavbarDropdown > * {
  width: 100%;
}

.displayName {
  font-weight: 800;
  font-size: 2.25rem;
  background: linear-gradient(
    90deg,
    #ff00ff 03.57%,
    #6f55ff 45.25%,
    #0096ff 67.38%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.options {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.options > * {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.option {
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
}

.icon {
  margin-right: 0.9375rem;
  height: 1.875rem;
  width: 1.875rem;
}

.logout {
  font-size: 2rem;
  font-weight: 800;
  color: #ff4444;
  display: flex;
  justify-content: center;
}

.logout:hover {
  cursor: pointer;
}

.profilePic {
  height: 3.4375rem;
  width: 3.4375rem;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.dropdownContainer {
  z-index: 2;
  position: absolute;
  top: 5.625rem;
  right: 0;
}

.link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.875rem;
  margin-right: 2.5rem;
}

.lightMode {
  background-color: #ffffff;
  color: #000000;
}

.hidden {
  display: none;
}

@media screen and (max-width: 51.25rem) {
  .links {
    display: block;
  }

  .hidden {
    display: block;
  }
}
