.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  background-color: #000000;
  height: 5rem;
  padding-right: 2.5rem;
}

.wiredIn {
  font-weight: 800;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #ff00ff 30.43%, #0096ff 67.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2.5rem;
}

.link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 2.5rem;
}

@media screen and (max-width: 50rem) {
  .links {
    display: none;
  }
}

@media screen and (max-width: 22rem) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .wiredIn {
    font-size: 2rem;
  }

  .navigation {
    margin-left: 0;
  }
}
