.container {
  width: 60vw;
}

.header {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: #000;
}

.searchBar {
  background-color: #fff;
  height: 3.75rem;
  border-radius: 0.625rem;
  width: 31.25rem;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.searchInput {
  margin-left: 1.25rem;
  margin-right: 0.9375rem;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: #000;
}

.searchButton {
  background-color: #0096ff;
  height: 3.75rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000;
}

.title2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.jobsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 2.5rem;
  width: 15.625rem;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
}

.jobCreator {
  width: 50rem;
  height: 45rem;
  border-radius: 1.25rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
}

.jobForm {
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.jobFormRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.inputHeader {
  display: flex;
  justify-content: space-between;
}

.inputTitle {
  font-size: 1.125rem;
  font-weight: 700;
  color: #606060;
}

.input {
  height: 2.5rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-weight: 600;
}

.selectionInput {
  max-width: 100%;
  height: 7.5rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-weight: 600;
  display: flex;
  word-wrap: break-word;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #000;
}

.desc {
  width: 100%;
  height: 90%;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.625rem;
  color: #000000;
  resize: none;
  font-weight: 600;
  padding: 0.625rem;
}

.largeInputContainer {
  width: 100%;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.jobFormFooter {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.submit {
  background-color: #0096ff;
  height: 2.5rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
}

.selectOptionsMenu {
  width: 36.25rem;
  height: 22.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.largeInput {
  height: 3.75rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
}

.selectionBox {
  margin-top: 0.625rem;
  height: 9.375rem;
  background-color: #ededed;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.selectionBox::-webkit-scrollbar {
  width: 0.625rem;
}

.selectionBox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.3125rem;
}

.selectionBox::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.selectionBox::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 0.3125rem;
}

.selectionBox {
  scrollbar-width: thin;
  scrollbar-color: #888 #ededed;
}

.selectionBox::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.3125rem;
}

.selectionBox::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

.optionFooter {
  display: flex;
  justify-content: space-between;
}

.customCheckbox {
  display: none;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.checkboxCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  transition: border-color 0.3s;
}

.customCheckbox:checked + .checkboxCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.customCheckbox:checked + .checkboxCustom::after {
  content: "\2713";
  display: block;
  position: absolute;
  left: 0.1875rem;
  bottom: -0.125rem;
  color: white;
  font-size: 1.5rem;
}

.selectButton {
  width: 7.5rem;
  height: 2.5rem;
  background-color: #0096ff;
  border-radius: 0.625rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
  color: #ffffff;
  justify-self: flex-end;
}

.searchResults {
  margin-top: 1.25rem;
}

.arrowIcon {
  height: 1.875rem;
  color: #000000;
}

.jobCreatorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

.loadMore {
  width: 9.375rem;
  height: 2.5rem;
  background-color: #0096ff;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  border-radius: 0.625rem;
  margin: auto;
  margin-bottom: 1.25rem;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.625rem;
  padding: 0.9375rem;
}

.filterPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.filterFormRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

@media screen and (max-width: 75rem) {
  .container {
    width: 80vw;
  }
}

@media screen and (max-width: 56.25rem) {
  .headerRow {
    flex-direction: column;
    gap: 1.25rem;
  }

  .searchBar {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .jobCreator {
    min-width: 23.125rem;
    width: 80vw;
    height: fit-content;
  }

  .jobFormRow {
    flex-direction: column;
    gap: 0.625rem;
  }

  .selectOptionsMenu {
    min-width: 23.125rem;
    width: 80vw;
  }
}
