.container {
  width: 60rem;
  min-height: 26rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
}

.images {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  gap: 1rem;
}

.profilePic {
  width: 12em;
  height: 12rem;
  border-radius: 6rem;
  border: 0.5rem solid #c4c4c4;
  cursor: pointer;
}

.banner {
  width: 36rem;
  height: 12rem;
  background-color: #c4c4c4;
  border-radius: 1rem;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputFields {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.25rem;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  gap: 1rem;
}

.input {
  height: 2.5rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-weight: 600;
}

.saveButton {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #0096ff;
  border-radius: 0.9375rem;
  border: none;
  font-size: 1.5625rem;
  font-weight: 800;
  color: #ffffff;
  align-self: flex-end;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.inputTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
}

@media screen and (max-width: 60rem) {
  .container {
    width: 100vw;
  }

  .images {
    flex-direction: column;
    align-items: center;
  }

  .banner {
    width: 80vw;
  }

  .inputRow {
    flex-direction: column;
    align-items: center;
  }

  .inputContainer {
    width: 100%;
  }
}
