.container {
  width: 72rem;
  height: 29rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding: 1.5625rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
}

.modify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.icon {
  color: #000000;
  font-size: 1.875rem;
}

.icon:hover {
  cursor: pointer;
}

.body {
  margin-top: 1rem;
  width: 100%;
  color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  overflow-y: auto;
  max-height: 85%;
}

.skill {
  display: flex;
  justify-content: center;
}

.skillName {
  font-size: 1.625rem;
  font-weight: 600;
}

.skillLearned {
  color: #909090;
  font-size: 1rem;
  font-weight: 500;
}

.deleteIcon {
  font-size: 1.25rem;
  margin-left: 1.25rem;
}

.deleteIcon:hover {
  cursor: pointer;
  color: #e30000;
}

.editIcon {
  font-size: 1.25rem;
  margin-left: 1.25rem;
}

.editIcon:hover {
  cursor: pointer;
  color: #0096ff;
}

.editControls {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

@media screen and (max-width: 75rem) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 22rem) {
  .header {
    flex-direction: column;
  }

  .body {
    max-height: 80%;
  }
}
