.container {
  width: 1152px;
  height: 464px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: 800;
  color: #000000;
}

.modify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.icon {
  color: #000000;
  font-size: 30px;
}

.icon:hover {
  cursor: pointer;
}

.body {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.skillName {
  font-size: 26px;
  font-weight: 600;
}

.skillLearned {
  color: #909090;
  font-size: 16px;
  font-weight: 500;
}

.deleteIcon {
  font-size: 30px;
  margin-left: 20px;
}

.deleteIcon:hover {
  cursor: pointer;
  color: #e30000;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
