.container {
  width: 60rem;
  height: 31.25rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
}

.form {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formGroup {
  display: flex;
  width: 100%;
  margin-top: 0.625rem;
}

.formGroupUpper {
  display: flex;
  width: 100%;
  gap: 1.25rem;
}

.formGroupLower {
  display: flex;
  width: 100%;
}

.formGroupLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formGroupLeftUpper {
  flex: 1;
  display: flex;
  gap: 1.25rem;
}

.formGroupLeftLower {
  margin-top: 0.625rem;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.formGroupLeft2 {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.formGroupRight {
  flex: 1;
}

.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageInput {
  display: none;
}

.experienceImage {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 0.625rem;
  background-color: #f4f4f4;
  border: none;
}

.inputTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
}

.desc {
  width: 100%;
  height: 90%;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.625rem;
  color: #000000;
  resize: none;
  padding: 0.625rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.input {
  height: 2.5rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-weight: 600;
}

.imageIcon {
  position: absolute;
  height: 4.6875rem;
  color: #c4c4c4;
}

.deleteImageIcon {
  position: absolute;
  height: 4.6875rem;
  color: #c4c4c4;
}

.deleteImageIcon:hover {
  color: #ff0000;
}

.arrowIcon {
  height: 1.875rem;
  color: #000000;
}

.addSkillIcon {
  color: #000000;
  font-size: 1.875rem;
}

.saveButton {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #0096ff;
  border-radius: 0.9375rem;
  border: none;
  font-size: 1.5625rem;
  font-weight: 800;
  color: #ffffff;
  align-self: flex-end;
}

.selectSkillsMenu {
  width: 36.25rem;
  height: 22.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  font-weight: 600;
}

.smallCustomCheckbox {
  display: none;
}

.smallCheckboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.smallCheckboxCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  transition: border-color 0.3s;
}

.smallCustomCheckbox:checked + .smallCheckboxCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.smallCustomCheckbox:checked + .smallCheckboxCustom::after {
  content: "\2713";
  display: block;
  position: absolute;
  left: 0.125rem;
  bottom: -0.125rem;
  color: white;
  font-size: 0.875rem;
}

.skillsInput {
  height: 2.5rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.largeInput {
  height: 3.75rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
}

.selectionBox {
  margin-top: 0.625rem;
  height: 9.375rem;
  background-color: #ededed;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.selectionBox::-webkit-scrollbar {
  width: 0.625rem;
}

.selectionBox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.3125rem;
}

.selectionBox::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.selectionBox::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 0.3125rem;
}

.selectionBox {
  scrollbar-width: thin;
  scrollbar-color: #888 #ededed;
}

.selectionBox::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.3125rem;
}

.selectionBox::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

.skillFooter {
  display: flex;
  justify-content: space-between;
}

.text {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}

.customCheckbox {
  display: none;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.checkboxCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  transition: border-color 0.3s;
}

.customCheckbox:checked + .checkboxCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.customCheckbox:checked + .checkboxCustom::after {
  content: "\2713";
  display: block;
  position: absolute;
  left: 0.1875rem;
  bottom: -0.125rem;
  color: white;
  font-size: 1.5rem;
}

.selectButton {
  width: 7.5rem;
  height: 2.5rem;
  background-color: #0096ff;
  border-radius: 0.625rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
  color: #ffffff;
  justify-self: flex-end;
}

.skills {
  display: flex;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 75rem) {
  .container {
    width: 100%;
  }
}
