.container {
  width: 72rem;
  min-height: 29rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding: 1.5625rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
  cursor: default;
}

.modify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.icon {
  color: #000000;
  font-size: 1.75rem;
}

.icon:hover {
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 1rem;
}

.experience {
  color: #000;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.experienceTop {
  display: flex;
}

.experienceInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.experienceHeader {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.experienceTitle {
  font-size: 1.5rem;
  font-weight: 600;
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.experienceBottom {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  font-weight: 600;
}

.skill {
  font-weight: 400;
}

.experienceImage {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  background-color: #f4f4f4;
  border: none;
  margin-left: 1.25rem;
}

.experienceDescription {
  margin-top: 0.625rem;
  margin-left: 3.125rem;
  font-size: 1rem;
  font-weight: 400;
}

.icons {
  margin: auto;
  display: flex;
  align-self: center;
  gap: 1rem;
  flex: 0 0 auto;
}

.editIcon {
  font-size: 1.75rem;
}

.editIcon:hover {
  cursor: pointer;
  color: #0096ff;
}

.deleteIcon {
  font-size: 1.75rem;
}

.deleteIcon:hover {
  cursor: pointer;
  color: #e30000;
}

@media screen and (max-width: 75rem) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 22rem) {
  .header {
    flex-direction: column;
  }

  .experienceTop {
    flex-direction: column;
    align-items: center;
  }

  .experienceImage {
    width: 8rem;
    height: 8rem;
  }
}
