.container {
  width: 36.25rem;
  height: 22.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
}

.icon {
  color: #000000;
  font-size: 1.875rem;
}

.addSkillMenu {
  width: 36.25rem;
  height: 22.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.input {
  height: 3.75rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
}

.smallInput {
  height: 2.5rem;
  width: 6.25rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
}

.selectionBox {
  margin-top: 0.625rem;
  height: 9.375rem;
  background-color: #ededed;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.selectionBox {
  scrollbar-width: thin;
  scrollbar-color: #888 #ededed;
}

.selectionBox::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.3125rem;
}

.selectionBox::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

.skillFooter {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.text {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}

.addButton {
  width: 7.5rem;
  height: 2.5rem;
  background-color: #0096ff;
  border-radius: 0.625rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
  color: #ffffff;
  justify-self: flex-end;
  align-self: flex-end;
}

.customCheckbox {
  display: none;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.checkboxCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  transition: border-color 0.3s;
}

.customCheckbox:checked + .checkboxCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.customCheckbox:checked + .checkboxCustom::after {
  content: "\2713";
  display: block;
  position: absolute;
  left: 0.1875rem;
  bottom: -0.125rem;
  color: white;
  font-size: 1.5rem;
}

.body {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.skill {
  font-size: 1.375rem;
  font-weight: 600;
}

@media screen and (max-width: 37.5rem) {
  .container {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .addSkillMenu {
    height: fit-content;
    width: 100vw;
  }
}

@media screen and (max-width: 25rem) {
  .addSkillMenu {
    padding: 1.5625rem 1rem;
  }
}
