.container {
  width: 72rem;
  min-height: 29rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding: 1.5625rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
}

.modify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.icon {
  color: #000000;
  font-size: 1.875rem;
}

.icon:hover {
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.project {
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.projectHeader {
  display: flex;
  align-items: center;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.projectIcon {
  font-size: 1.25rem;
  margin-left: 0.3125rem;
  font-weight: 900;
}

.projectIcon:hover {
  cursor: pointer;
}

.projectDate {
  color: #909090;
  font-size: 1.125rem;
  font-weight: 600;
}

.projectDescription {
  margin-top: 0.625rem;
  margin-left: 3.125rem;
  font-size: 1rem;
  font-weight: 400;
}

.editIcon {
  font-size: 1.875rem;
  margin-left: auto;
}

.deleteIcon {
  font-size: 1.875rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.deleteIcon:hover {
  cursor: pointer;
  color: #e30000;
}

@media screen and (max-width: 75rem) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 22rem) {
  .header {
    flex-direction: column;
  }
}
