.container {
  width: 60rem;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  color: #000000;
}

.form {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.625rem;
}

.formGroupUpper {
  display: flex;
  width: 100%;
  gap: 2.5rem;
}

.formGroupLower {
  display: flex;
  width: 100%;
  gap: 2.5rem;
  margin-bottom: 1.25rem;
}

.formGroupLeft {
  flex: 1;
}

.formGroupRight {
  flex: 1;
}

.largeFormGroupLeft {
  flex: 3;
}

.smallFormGroupRight {
  flex: 2;
}

.dateContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.sourceCodeLeft {
  display: none;
}

.sourceCodeRight {
  display: block;
}

.inputTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  display: flex;
}

.addSkillIcon {
  font-size: 1.2rem;
  margin-left: auto;
}

.input {
  height: 2.5rem;
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-weight: 600;
  display: block;
}

.checkboxContainer {
  font-weight: 600;
}

.desc {
  width: 100%;
  height: 90%;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.625rem;
  color: #000000;
  resize: none;
  padding: 0.625rem;
}

.arrowIcon {
  height: 1.875rem;
  color: #000000;
}

.selectionBox {
  height: 9.375rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.selectionBox {
  scrollbar-width: thin;
  scrollbar-color: #888 #ededed;
}

.selectionBox::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.3125rem;
}

.selectionBox::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

.customCheckbox {
  display: none;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.checkboxCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  transition: border-color 0.3s;
}

.customCheckbox:checked + .checkboxCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.customCheckbox:checked + .checkboxCustom::after {
  content: "\2713";
  display: block;
  position: absolute;
  left: 0.125rem;
  bottom: -0.125rem;
  color: white;
  font-size: 0.875rem;
}

.saveButton {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #0096ff;
  border-radius: 0.9375rem;
  border: none;
  font-size: 1.5625rem;
  font-weight: 800;
  color: #ffffff;
  align-self: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 60rem) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 50rem) {
  .formGroupUpper {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 34rem) {
  .dateContainer {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1rem;
  }

  .formGroupLower {
    flex-direction: column;
    gap: 0;
  }

  .desc {
    height: 10rem;
  }
}
