.container {
  width: 48.125rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.createPost {
  width: 12.5rem;
  height: 3.75rem;
  background-color: #0096ff;
  font-size: 1.5625rem;
  font-weight: 800;
  border: none;
  border-radius: 0.9375rem;
}

.createPost:hover {
  cursor: pointer;
}

.posts {
  width: 100%;
}

.loadMore {
  width: 9.375rem;
  height: 2.5rem;
  background-color: #0096ff;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  border-radius: 0.625rem;
  margin: auto;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 48.4375rem) {
  .container {
    width: 100%;
  }
}
