.mainSection {
  padding-bottom: 1.25rem;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBar {
  padding-left: 1.25rem;
  background-color: #000000;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 3.125rem;
}

.headerButtons {
  display: flex;
  gap: 1rem;
}

.signupButton {
  text-wrap: nowrap;
  background-color: #0096ff;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.signupButton:active,
.loginButton:active,
.mainButton:active {
  transform: translateY(3px);
}

.loginButton {
  text-wrap: nowrap;
  background-color: #0096ff;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.signupButton:hover,
.loginButton:hover {
  background-color: #ffffff;
  color: #0096ff;
}

.mainHeader {
  display: flex;
  width: 60vw;
  flex-direction: column;
}

.mainHook {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
}

.mainSub {
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  font-size: 1.875rem;
  font-weight: 500;
  width: 31.25rem;
  color: #fff;
}

.mainButtons {
  margin-top: 2.5rem;
  display: flex;
  white-space: nowrap;
  gap: 1.25rem;
}

.mainButton {
  background-color: #ffffff;
  margin-top: auto;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.75rem;
  font-weight: 500;
  color: #0096ff;
  border: none;
  cursor: pointer;
}

.mainButton:hover {
  background-color: #0096ff;
  color: #ffffff;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: #2d2d2d;
}

.contentTitle {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.timelineIcon,
.finalTimelineIcon {
  font-size: 3.125rem;
}

.contentSubtitle {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1.25rem;
  width: 40vw;
}

.content {
  margin-left: 0.625rem;
}

.profileSection {
  display: flex;
  width: 60vw;
}

.profileTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.profileTimeline::after {
  content: "";
  width: 0.5rem;
  border-radius: 0.625rem;
  background: linear-gradient(to bottom, #e81416, #ffa500);
}

.profileShowcase {
  position: relative;
  background-color: black;
  padding: 1.25rem;
  border-radius: 1.25rem;
  opacity: 0;
}

.profileShowcaseButtons {
  display: flex;
  gap: 0.3125rem;
}

.redCircle {
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #e81416;
}

.yellowCircle {
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #ffa500;
}

.greenCircle {
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #79c314;
}

.profileShowcaseWindow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.slideInFadeIn {
  animation: slideFadeInFromRight 2s ease-out forwards;
  opacity: 1;
}

.profileBox {
  width: 45%;
  padding: 0.625rem;
  border-radius: 1vw;
  background-color: #ffffff;
  border: #000000 0.125rem solid;
  display: flex;
  flex-direction: column;
  color: #000;
}

.fadeIn {
  animation: fadeInFromTop 2s ease-out forwards;
  opacity: 1;
}

.feedSection {
  display: flex;
  width: 60vw;
}

.feedTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.feedTimeline::after {
  content: "";
  width: 0.5rem;
  border-radius: 0.625rem;
  height: 100%;
  background: linear-gradient(to bottom, #ffa500, #79c314);
}

.contractsSection {
  display: flex;
  width: 60vw;
}

.contractsTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.contractsTimeline::after {
  content: "";
  width: 0.5rem;
  border-radius: 0.625rem;
  background: linear-gradient(to bottom, #79c314, #487de7);
}

.contractsContainer {
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contractContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.contract {
  padding: 1.25rem;
  gap: 1.25rem;
  display: flex;
  width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contractInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contractInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contractInfoFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userImage {
  border-radius: 3.125rem;
}

.userName {
  font-size: 1.5rem;
  color: #000;
}

.contractTitle {
  font-size: 1.5rem;
  color: #000;
}

.contractLocation {
  font-size: 0.875rem;
  color: #909090;
}

.contractSkills {
  margin-top: 0.3125rem;
  display: flex;
  color: #000;
  font-weight: 500;
}

.contractDescription {
  color: #000;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  word-wrap: break-word;
}

.contractTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  color: #000;
  font-weight: 500;
}

.tag {
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: #0096ff;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
}

.contractGroup1 {
  animation: scroll 8s linear infinite;
}

.contractGroup2 {
  animation: scroll 8s linear infinite;
}

.jobsSection {
  display: flex;
  width: 60vw;
}

.jobsTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.jobsTimeline::after {
  content: "";
  width: 0.5rem;
  border-radius: 0.625rem;
  background: linear-gradient(to bottom, #487de7, #70369d);
}

.jobsContainer {
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.jobContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.job {
  padding: 1.25rem;
  gap: 1.25rem;
  display: flex;
  width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jobInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.jobTitle {
  font-size: 1.5rem;
  color: #000;
}

.jobLocation {
  font-size: 0.875rem;
  color: #909090;
}

.jobSkills {
  margin-top: 0.3125rem;
  display: flex;
  color: #000;
  font-weight: 500;
}

.jobDetails {
  display: flex;
  color: #000;
  font-weight: 500;
}

.jobDescription {
  color: #000;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  word-wrap: break-word;
}

.jobInfoFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.jobTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  color: #000;
  font-weight: 500;
}

.jobGroup1 {
  animation: scroll 8s linear infinite;
}

.jobGroup2 {
  animation: scroll 8s linear infinite;
}

.closingSection {
  display: flex;
  width: 60vw;
}

.timelinePlaceHolder {
  display: flex;
  justify-content: center;
  width: 4vw;
}

.homeFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  min-height: 25rem;
}

.footerHeader {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
}

.footerTitle {
  display: flex;
  font-size: 3.125rem;
  font-weight: 700;
  color: #000000;
}

.footerTitle2 {
  display: flex;
  font-size: 1.875rem;
  font-weight: 600;
  color: #000000;
}

.footerInfo {
  margin-top: auto;
  height: 6.25rem;
  display: flex;
  width: 60vw;
}

.footerInfoItem {
  font-weight: 600;
  color: #000000;
}

.base {
  height: 6.25rem;
  background-color: #000000;
}

.headerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  font-weight: 600;
  font-size: 1.375rem;
  color: #000000;
}

@keyframes slideFadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.experienceHeader {
  color: #000;
  display: flex;
}

.experienceLeft {
  display: flex;
  height: 100%;
}

.experienceInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.experienceTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.experienceRight {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.experienceDivider {
  height: 5rem;
  border: #909090 0.0625rem solid;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  font-weight: 600;
}

.skill {
  font-weight: 400;
}

.experienceImage {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  background-color: #f4f4f4;
  border: none;
}

.postsContainer {
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.postContainer {
  background-color: #ffffff;
  width: 43.75rem;
  height: fit-content;
  border-radius: 1.25rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

.postGroup1 {
  animation: scroll 8s linear infinite;
}

.postGroup2 {
  animation: scroll 8s linear infinite;
}

.postProfile {
  border-radius: 1.5625rem;
}

.postHeader {
  display: flex;
  justify-content: space-between;
}

.postHeaderLeft {
  display: flex;
  align-items: center;
}

.postHeaderRight {
  display: flex;
  align-items: center;
}

.displayName {
  color: #000000;
  font-weight: 700;
  font-size: 1.375rem;
  margin-left: 0.5rem;
}

.profileTitle {
  color: #959595;
  font-weight: 400;
  font-size: 1.125rem;
  margin-left: 0.5rem;
}

.time {
  color: #959595;
  font-size: 1.125rem;
  margin-right: 1rem;
}

.postBody {
  min-height: 3.125rem;
  padding: 1.25rem;
}

.text {
  color: #000000;
  font-size: 1.125rem;
  word-wrap: break-word;
  margin-bottom: 0.625rem;
}

.postFooter {
  display: flex;
  justify-content: flex-start;
  gap: 1.875rem;
  margin-left: 1.25rem;
  margin-bottom: 0.625rem;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.imagesContainer {
  display: grid;
}

.imagesContainer2 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.oneImage {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.twoImages {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.625rem;
}

.threeImages {
  grid-template-columns: 2fr 0.8fr;
  grid-gap: 0.625rem;
}

.fourImages {
  grid-template-columns: 3fr 0.8fr;
  grid-gap: 0.625rem;
}

.image {
  min-height: 6.25rem;
  min-width: 6.25rem;
  border-radius: 1.5625rem;
}

.largeImage {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.medImage {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.smallImage {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wave {
  background-color: #2d2d2d;
}

.link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 1.875rem;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 96.875rem) {
  .profileShowcase {
    width: 49.375rem;
  }

  .profileBox {
    width: 23.125rem;
  }
}

@media screen and (max-width: 77.5rem) {
  .mainHook {
    font-size: 6vw;
  }

  .mainSub {
    width: 50vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 65.625rem) {
  .additionalInfo {
    padding-left: 0.5rem;
    align-items: flex-start;
  }

  .contentTitle {
    width: 85vw;
    word-wrap: break-word;
  }

  .contentSubtitle {
    width: 75vw;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 50rem) {
  .links {
    display: none;
  }
}

@media screen and (max-width: 56.25rem) {
  .profileBox {
    width: 100%;
  }

  .profileShowcase {
    width: 90%;
  }

  .experienceInfo {
    font-size: smaller;
  }

  .contract {
    flex-direction: column;
  }

  .job {
    flex-direction: column;
  }
}

@media screen and (max-width: 48.4375rem) {
  .mainButton {
    font-size: 3vw;
  }

  .postContainer {
    width: 95vw;
    margin-left: 0;
    margin-right: 0;
  }

  .contractContainer {
    width: 90vw;
  }

  .jobContainer {
    width: 90vw;
  }

  .creatorContainer {
    width: 100vw;
  }
}

@media screen and (max-width: 44rem) {
  .contractContainer {
    width: 95vw;
  }

  .jobContainer {
    width: 95vw;
  }
}

@media screen and (max-width: 40.625rem) {
  .largeImage {
    width: 22.5rem;
    height: 22.5rem;
  }

  .medImage {
    width: 15rem;
    height: 15rem;
  }

  .med1Image {
    width: 18.75rem;
    height: 18.75rem;
  }

  .med2Image {
    width: 8.90625rem;
    height: 8.90625rem;
  }

  .smallImage {
    width: 7.03125rem;
    height: 7.03125rem;
  }

  .oneImage {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .twoImages {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.625rem;
  }

  .threeImages {
    grid-template-columns: 2fr 0.8fr;
    grid-gap: 0.625rem;
  }

  .fourImages {
    grid-template-columns: 1fr 0.3fr;
    grid-gap: 0.625rem;
  }
}

@media screen and (max-width: 38.75rem) {
  .additionalInfo {
    padding-left: 0rem;
  }

  .content {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentTitle {
    width: 95vw;
    text-align: center;
  }

  .profileTimeline {
    display: none;
  }

  .profileSection {
    display: grid;
  }

  .feedTimeline {
    display: none;
  }

  .feedSection {
    display: grid;
  }

  .contractsTimeline {
    display: none;
  }

  .contractsSection {
    display: grid;
  }

  .jobsTimeline {
    display: none;
  }

  .jobsSection {
    display: grid;
  }

  .additionalInfo {
    gap: 2rem;
  }

  .closingSection {
    display: grid;
  }
}

@media screen and (max-width: 32rem) {
  .twoImages {
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.625rem;
    grid-template-columns: none;
  }

  .threeImages {
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.625rem;
    grid-template-columns: none;
  }

  .fourImages {
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.625rem;
    grid-template-columns: none;
  }

  .imagesContainer {
    display: flex;
    flex-direction: column;
  }

  .imagesContainer2 {
    flex-direction: row;
  }
}

@media screen and (max-width: 27.5rem) {
  .additionalInfo {
    padding-left: 0rem;
  }

  .signupButton {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .loginButton {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .contentTitle {
    font-size: 6vw;
  }

  .contentSubtitle {
    text-align: center;
    font-size: 4vw;
  }

  .footerTitle {
    font-size: 6vw;
  }

  .vision {
    font-size: 3vw;
  }
}

@media screen and (max-width: 25rem) {
  .contractContainer {
    padding: 0.5rem;
  }

  .jobContainer {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 22.5rem) {
  .time {
    font-size: smaller;
  }

  .largeImage {
    width: 18rem;
    height: 18rem;
  }

  .smallImage {
    width: 5.625rem;
    height: 5.625rem;
  }
}

@media screen and (max-width: 22rem) {
  .mainBar {
    padding-left: 0;
  }
}
