.mainSection {
  padding-bottom: 20px;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBar {
  padding-left: 20px;
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 50px;
}

.signupButton {
  background-color: #0096ff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
}

.loginButton {
  background-color: #0096ff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.signupButton:hover,
.loginButton:hover {
  background-color: #ffffff;
  color: #0096ff;
}

.mainHeader {
  display: flex;
  width: 60vw;
  flex-direction: column;
}

.mainHook {
  font-size: 80px;
  font-weight: 800;
}

.mainSub {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  width: 500px;
}

.mainButtons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.mainButton {
  background-color: #ffffff;
  margin-top: auto;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 28px;
  font-weight: 500;
  color: #0096ff;
  border: none;
  cursor: pointer;
}

.mainButton:hover {
  background-color: #0096ff;
  color: #ffffff;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2d2d2d;
}

.contentTitle {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
}

.timelineIcon {
  font-size: 50px;
}

.contentSubtitle {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  width: 40vw;
}

.content {
  margin-left: 10px;
}

.profileSection {
  display: flex;
  width: 60vw;
}

.profileTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.profileTimeline::after {
  content: "";
  width: 8px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #e81416, #ffa500);
}

.profileShowcase {
  position: relative;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
}

.profileShowcaseButtons {
  display: flex;
  gap: 5px;
}

.redCircle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #e81416;
}

.yellowCircle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #ffa500;
}

.greenCircle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #79c314;
}

.profileShowcaseWindow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slideInFadeIn {
  animation: slideFadeInFromRight 2s ease-out forwards;
  opacity: 1;
}

.profileBox {
  width: 45%;
  padding: 10px;
  border-radius: 1vw;
  background-color: #ffffff;
  border: #000000 2px solid;
  display: flex;
  flex-direction: column;
  color: #000;
}

.fadeIn {
  animation: fadeInFromTop 2s ease-out forwards;
  opacity: 1;
}

.feedSection {
  display: flex;
  width: 60vw;
}

.feedTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.feedTimeline::after {
  content: "";
  width: 8px;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(to bottom, #ffa500, #79c314);
}

.contractsSection {
  display: flex;
  width: 60vw;
}

.contractsTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.contractsTimeline::after {
  content: "";
  width: 8px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #79c314, #487de7);
}

.contractsContainer {
  height: 440px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contractContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.contract {
  padding: 20px;
  gap: 20px;
  display: flex;
  width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contractInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contractInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userImage {
  border-radius: 50px;
}

.userName {
  font-size: 24px;
  color: #000;
}

.contractTitle {
  font-size: 24px;
  color: #000;
}

.contractLocation {
  font-size: 14px;
  color: #909090;
}

.contractSkills {
  margin-top: 5px;
  display: flex;
  color: #000;
  font-weight: 500;
}

.contractDescription {
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.contractTags {
  display: flex;
  gap: 10px;
  color: #000;
  font-weight: 500;
}

.tag {
  padding: 5px;
  border-radius: 5px;
  background-color: #0096ff;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.contractGroup1 {
  animation: scroll 8s linear infinite;
}

.contractGroup2 {
  animation: scroll 8s linear infinite;
}

.jobsSection {
  display: flex;
  width: 60vw;
}

.jobsTimeline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
  position: relative;
  opacity: 0;
}

.jobsTimeline::after {
  content: "";
  width: 8px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #487de7, #70369d);
}

.jobsContainer {
  height: 440px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.jobContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.job {
  padding: 20px;
  gap: 20px;
  display: flex;
  width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jobInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.jobTitle {
  font-size: 24px;
  color: #000;
}

.jobLocation {
  font-size: 14px;
  color: #909090;
}

.jobSkills {
  margin-top: 5px;
  display: flex;
  color: #000;
  font-weight: 500;
}

.jobDetails {
  display: flex;
  color: #000;
  font-weight: 500;
}

.jobDescription {
  color: #000;
  margin-top: 10px;
  word-wrap: break-word;
}

.jobInfoFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.jobTags {
  display: flex;
  gap: 10px;
  color: #000;
  font-weight: 500;
}

.jobGroup1 {
  animation: scroll 8s linear infinite;
}

.jobGroup2 {
  animation: scroll 8s linear infinite;
}

.closingSection {
  display: flex;
  width: 60vw;
  height: 100px;
}

.timelinePlaceHolder {
  display: flex;
  justify-content: center;
  width: 4vw;
}

.homeFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 400px;
}

.footerHeader {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
}

.footerTitle {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
}

.footerTitle2 {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

.footerInfo {
  margin-top: auto;
  height: 100px;
  display: flex;
  width: 60vw;
}

.footerInfoItem {
  font-weight: 600;
  color: #000000;
}

.base {
  height: 100px;
  background-color: #000000;
}

.headerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}

@keyframes slideFadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.experienceHeader {
  color: #000;
  display: flex;
}

.experienceLeft {
  display: flex;
  height: 100%;
}

.experienceInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.experienceTitle {
  font-size: 24px;
  font-weight: 600;
}

.experienceRight {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.experienceDivider {
  height: 80px;
  border: #909090 1px solid;
  margin-right: 10px;
  margin-left: 10px;
}

.skills {
  display: flex;
  margin-top: auto;
  font-weight: 600;
}

.skill {
  font-weight: 400;
}

.experienceImage {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: none;
}

.postsContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.postContainer {
  background-color: #ffffff;
  width: 700px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.postGroup1 {
  animation: scroll 8s linear infinite;
}

.postGroup2 {
  animation: scroll 8s linear infinite;
}

.postProfile {
  border-radius: 25px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
}

.postHeaderLeft {
  display: flex;
  align-items: center;
}

.postHeaderRight {
  display: flex;
  align-items: center;
}

.displayName {
  color: #000000;
  font-weight: 700;
  font-size: 22px;
  margin-left: 8px;
}

.profileTitle {
  color: #959595;
  font-weight: 400;
  font-size: 18px;
  margin-left: 8px;
}

.time {
  color: #959595;
  font-size: 18px;
  margin-right: 16px;
}

.postBody {
  min-height: 50px;
  padding: 20px;
}

.text {
  color: #000000;
  font-size: 18px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.postFooter {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.imagesContainer {
  display: grid;
}

.imagesContainer2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.oneImage {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.twoImages {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.threeImages {
  grid-template-columns: 2fr 0.8fr;
  grid-gap: 10px;
}

.fourImages {
  grid-template-columns: 3fr 0.8fr;
  grid-gap: 10px;
}

.image {
  min-height: 100px;
  min-width: 100px;
  border-radius: 25px;
}

.largeImage {
  width: 480px;
  height: 480px;
  object-fit: cover;
}

.medImage {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.smallImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wave {
  background-color: #2d2d2d;
}

.link {
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  margin-right: 30px;
}

@media screen and (max-width: 620px) {
  .links {
    display: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 1550px) {
  .profileShowcase {
    width: 790px;
  }

  .profileBox {
    width: 370px;
  }
}

@media screen and (max-width: 1240px) {
  .mainHook {
    font-size: 6vw;
  }

  .mainSub {
    width: 50vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 1050px) {
  .additionalInfo {
    padding-left: 8px;
    align-items: flex-start;
  }

  .contentTitle {
    width: 85vw;
    word-wrap: break-word;
  }

  .contentSubtitle {
    width: 75vw;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 900px) {
  .profileBox {
    width: 100%;
  }

  .profileShowcase {
    width: 90%;
  }

  .experienceInfo {
    font-size: smaller;
  }
}

@media screen and (max-width: 775px) {
  .mainHook {
    font-size: 10vw;
  }

  .mainSub {
    font-size: 4vw;
  }

  .mainButton {
    text-align: center;
    font-size: 4vw;
  }

  .postContainer {
    width: 100%;
  }

  .largeImage {
    width: 60vw;
    height: 60vw;
  }

  .medImage {
    width: 25vw;
    height: 25vw;
  }

  .smallImage {
    width: 6vw;
    height: 6vw;
  }
}
