.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 20rem) {
  .container {
    margin: 0;
  }
}
