.contractContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.contract {
  padding: 1.25rem;
  gap: 1.25rem;
  display: flex;
  width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contractInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contractInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userImage {
  border-radius: 3.125rem;
}

.userName {
  font-size: 1.5rem;
  color: #000;
}

.contractTitle {
  font-size: 1.5rem;
  color: #000;
}

.contractLocation {
  font-size: 0.875rem;
  color: #909090;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background-color: #f0f0f0;
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.contractSkills {
  margin-top: 0.3125rem;
  display: flex;
  color: #000;
  font-weight: 500;
}

.contractDescription {
  color: #000;
  margin-top: 0.625rem;
  word-wrap: break-word;
}

.contractInfoFooter {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contractTags {
  display: flex;
  gap: 0.625rem;
  color: #000;
  font-weight: 500;
}

.tag {
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: #0096ff;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
}

.applicantsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-height: 37.5rem;
  max-width: 43.75rem;
  border-radius: 1.5625rem;
  padding: 1.25rem;
}

.applicantsHeader {
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin-bottom: 0.625rem;
}

.title {
  font-size: 1.5rem;
  color: #000;
}

.applicantsBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
}

.applicant {
  display: flex;
  width: 20rem;
  align-items: center;
  gap: 0.3125rem;
}

.applicantInfo {
  display: flex;
  flex-direction: column;
}

.applicantSkills {
  color: #000;
}

.poor {
  color: #ff0000;
  font-size: 1rem;
}

.partial {
  color: #ff9900;
  font-size: 1rem;
}

.adequate {
  color: #ffff00;
  font-size: 1rem;
}

.excellent {
  color: #00ff00;
  font-size: 1rem;
}

.view {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  height: 1.875rem;
  width: 3.75rem;
  border-radius: 0.625rem;
  background-color: #0096ff;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.deleteIcon {
  color: #000;
  cursor: pointer;
  font-size: 1.75rem;
}

.deleteIcon:hover {
  cursor: pointer;
  color: #e30000;
}

.editIcon {
  color: #000;
  cursor: pointer;
  font-size: 1.625rem;
}

.editIcon:hover {
  cursor: pointer;
  color: #0096ff;
}

@media screen and (max-width: 56.25rem) {
  .contract {
    flex-direction: column;
  }

  .contractTags {
    flex-wrap: wrap;
  }

  .button {
    scale: 0.8;
  }
}
